<p>Riesgo academico works!</p>
<p>
    Este componente tiene su propio modulo de aplicacion y su routing, mismos que son referenciados en el app routing
</p>
<p>
    para crear el modulo de routing de tus componentes debes usar el comando

    --routing despues de la ruta de la carpeta de tu componente.

    Para este ejemplo el --routing es
</p>

<p>
    ng generate module modules/componentes/serviciosEstudiantiles/tutorias --routing
</p>

<p>
    pensando en que la carpeta tutorías contenga varios componentes, de esta forma todos los componentes
    dentro de tutorias deberán ser declarados en tutorias.module.ts y enrutados en turorías-routing.module.ts

</p>